---
- name: Update apt cache
  apt:
    update_cache: yes
  when: not (same_instance | default(false)) or inventory_hostname == "nemis.apim"

- name: Install required packages
  apt:
    name:
      - openjdk-21-jdk
      - unzip
    state: present
  when: not (same_instance | default(false)) or inventory_hostname == "nemis.apim"

- name: Ensure service group exists
  group:
    name: "{{ service_user }}"
    state: present

- name: Ensure service user exists
  user:
    name: "{{ service_user }}"
    group: "{{ service_user }}"
    shell: /bin/bash
    create_home: yes
